/* Светлая тема по умолчанию */
:root {
    --color-main: #2c3e50;
    --color-accent: #3498db;
    --color-light: #ecf0f1;
    --color-dark: #34495e;
    --color-text: #2c3e50;
    --color-white: #ffffff;

    --shadow: 0 2px 5px rgba(0,0,0,0.1);
    --radius: 8px;
    
    --space-sm: 10px;
    --space-md: 20px;
    --space-lg: 30px;
}

/* Тёмная тема */
[data-theme="dark"] {
    --color-main: #1a1a1a;
    --color-accent: #bb86fc;
    --color-light: #2d2d2d;
    --color-dark: #121212;
    --color-text: #ffffff;
    --color-white: #1e1e1e;

       --shadow: 0 2px 5px rgba(0,0,0,0.3);
       --radius: 8px;
    
    --space-sm: 10px;
    --space-md: 20px;
    --space-lg: 30px;
}